body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.header-title{
  font-size: 1.5rem;
}

.btns-container{
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1rem;
}

.btn{
  padding: 0.7rem 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover{
  background-color: #007bff;
  color: white;
}